.home-header {
    background: linear-gradient(
      to bottom,
      #0654b3,
      #59ecff 50%,
      #ffffff 100%
    );
    color: var(--white);
    padding: 2rem;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }
  
  .home-header-content {
    flex: 1;
    max-width: 50%;
    padding-right: 2rem;
    text-align: left;
  }
  
  .home-header-video {
    flex: 1;
    max-width: 40%;
    position: relative;
  }
  
  .home-video {
    width: 100%;
    border-radius: 10px;
    display: block;
  }
  
  .home-title {
    font-size: 4.5rem;
    margin: 0.5rem 0;
    font-weight: 600;
    color: #242C33;
  }
  
  .home-title .home-highlight {
    color: var(--soft-white);
  }
  
  .home-stars {
    margin: 1rem 0;
    font-size: 1.5rem;
    color: #ffcc00; 
  }
  
  .home-subtitle {
    font-size: 1.2rem;
    color:#242C33;
    font-weight: 500
    ;
  }

  .home-review-author{
    font-size: 1.0rem;
    color:#ffff;
    font-weight:600;
  }
  
  .home-download-buttons {
    margin-top: 1.5rem;
    display: flex;
    gap: 1rem;
  }
  
  .home-btn {
    padding: 0.8rem 1.5rem;
    font-size: 1rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .home-btn.home-app-store {
    background-color: #ffffff00;

    color: var(--white);
  }
  
  .home-btn.home-play-store {
    background-color: #ffffff00;
    /* color: var(--white); */
  }
  
  .home-features {
    background-color: var(--soft-white);
    padding: 2rem 1rem;
  }
  
  .home-feature-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 1.5rem;
  }
  
  .home-feature {
    padding: 1rem;
    border: 1px solid var(--superlight-gray);
    border-radius: 8px;
    background-color: var(--ultralight-gray);
    text-align: center;
  }
  
  .home-feature h3 {
    color: var(--itranslate-blue);
  }
  
  .home-feature p {
    color: var(--medium-gray);
  }
  
  .home-feature-image {
    width: 100%;
    max-width: 150px;
    margin: 0 auto 1rem;
    display: block;
    border-radius: 8px;
  }
  

  .mockup-video-device {
    position: relative;
    width: 400px; 
    height: 800px; 
    margin: 10px;
  }
  
  .mockup-video-device-frame {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
  }
  
  .mockup-frame {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .mockup-video-device-container {
    position: absolute;
    top: 5%;
    left: 5%; 
    width: 90%; 
    height: 90%;
    z-index: 1;
    overflow: hidden;
    border-radius: 20px; 
  }
  
  .mockup-video {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }


  .home-icons-row {
    display: flex;
    justify-content: space-evenly;
    margin: 1.5rem 0;
  }
  
  .home-icon-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    color: var(--white);
    transition: transform 0.3s ease, color 0.3s ease;
  }
  
  .home-icon-item:hover {
    transform: scale(1.1);
    color: var(--itranslate-blue);
  }
  
  .home-icon-image {
   max-width: 80px;
    margin-bottom: 0.5rem;
  }
  
  /* Hover Animations for Buttons */
  .home-btn img {
    height: 40px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
  }
  
  .home-btn:hover img {
    transform: scale(1.1);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  }